<mat-card style="margin-top: 50px; margin-bottom: 50px;" *ngIf="device">
  <mat-card-content>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field style="display: block;">
        <input matInput type="datetime-local" formControlName="startDate" placeholder="Date From" />
      </mat-form-field>

      <mat-form-field style="display: block;">
        <input matInput type="datetime-local" formControlName="endDate" placeholder="Date To" />
      </mat-form-field>

      <button mat-button type="button" (click)="onSubmit()">
        Download
      </button>
    </form>
  </mat-card-content>
</mat-card>