<div cdkDrag class="device" (cdkDragEnded)="dragEnded($event)" (cdkDragStarted)="dragStarted($event)"
    [cdkDragFreeDragPosition]="dragPosition">

    <img src="/assets/devices/{{device.imagePath}}">

    <table>
        <tr *ngFor="let item of device.pointData | keyvalue">
            <span *ngIf="isDisplayPoint(item.key)">
                <td>{{item.key}}:</td>
                <td>{{item.value | roundString }}</td>
                <td>{{getDataPointUnit(item.key)}}</td>
            </span>
        </tr>
    </table>

</div>